.userList{
    flex: 4;
    width: 100%;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListStatusGreenDot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
    margin-left: 10px;
}

.userListStatusRedDot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px;
}

.userListButton{
    display: flex;
    align-items: center;
    gap: 20px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
}

.userListDelete{
    color: red;
    cursor: pointer;
}